name: hklpy
channels:
  - nsls2forge
  - conda-forge
  - defaults
  - aps-anl-tag
dependencies:
  - python >=3.7
  - bluesky >=1.6.7
  - hkl
  - ipython
  - numpy
  - ophyd
  - packaging
  - pint
  - pip
  - prettytable
  - pyepics
  - pyRestTable
  - spec2nexus
  - pip:
    - coveralls
    - pytest
    - pytest-cov
