include LICENSE
include README.md
include RELEASE_NOTES.rst
include conftest.py
include environment.yml
include hkl/_version.py
include pyproject.toml
include pytest.ini
include requirements.txt
include versioneer.py

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include examples Makefile README.md *.ipynb resources/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
