include LICENSE
include README.md
include RELEASE_NOTES.rst
include conftest.py
include environment.yml
include pyproject.toml
include pytest.ini

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include . Makefile README.md *.ipynb resources/*
recursive-include . e4c-config.json
recursive-include . e4c-config.yml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
