name: Unit Tests

on: [push, pull_request]

jobs:

  build:
    env:
      ENV_NAME: hklpy-test-${{ matrix.python-version }}
      PACKAGE: hklpy

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: customize environment requirements for conda & pip
      shell: bash -l {0}
      run: |
        python ./.github/edit_test_environment.py ${ENV_NAME}
        echo "# ------ new conda environment"
        cat conda_env.yml
        echo "# ------ new pip requirements"
        cat pip_req.txt

    - name: Python ${{ matrix.python-version }} environment ${{ ENV_NAME }}
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: conda_env.yml
        environment-name: ${{ ENV_NAME }}

    # - name: Setup Miniconda ${{ matrix.python-version }}
    #   uses: conda-incubator/setup-miniconda@v2
    #   with:
    #     activate-environment: test-hklpy
    #     auto-update-conda: true
    #     channel-priority: true
    #     channels: defaults,conda-forge
    #     environment-file: conda_env.yml
    #     mamba-version: "*"
    #     use-only-tar-bz2: true  # required for caching

    - name: conda environments
      shell: bash -l {0}
      run: |
        conda env list
        micromamba env list
        python --version

    - name: install pip requirements separately
      shell: bash -l {0}
      run: |
        pip install -r pip_req.txt

    - name: Install the hklpy package
      shell: bash -l {0}
      run: |
        pip install -e .

    - name: Diagnostics
      shell: bash -l {0}
      run: |
        pwd
        ls -lAFgh
        conda list -r
        conda list
        micromamba list

    - name: Test with coverage and pytest
      shell: bash -l {0}
      run: |
        coverage run --concurrency=thread --parallel-mode -m pytest -vvv
        coverage combine
        coverage report
